body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    /*background-image: url('../images/download\ \(3\).jfif');
    background-repeat: inherit;
    background-color: #cccccc;*/
}


.header1 {
    background-color: rgb(211, 161, 22);
    color: black;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 48px;
    letter-spacing: 0.6px;
    line-height: 30px;
}

article {
    max-width: 850px;
    margin: auto;
    padding-top: 70px;
}

.head1-up {
    color: rgb(15, 173, 247);
    font-size: 12px;
    line-height: 18px;

}

.head1-down,
.link-list {
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
}

.head1-down span {
    margin-right: 4px;
}

.head1-down img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: auto;
    height: auto;
}

.uppercase {
    text-transform: uppercase;
}
h1 {
    margin: 0;
    font-size: 50px;
    letter-spacing: 1.3px;
    line-height: 58px;
}

.hero-image {
    margin: 50px 80px;
}
.img1 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 680px;
    height: auto;

}

#head1 {
    margin-bottom: 50px;

}

#content-section {
    max-width: 600px;
    margin: auto;
}

ifrane {
    margin: 50px 0px;
}

.footer1 {
    background-color: #f1f1f1;
    max-width: 600px;
    margin: auto;
    padding: 20px 15px;
}

.footer1 ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.footer1 ul li {
    margin-bottom: 12px;
}

.imgs {
    width: auto;
}
.stop{
    margin: 4px;
    vertical-align: middle;
    width: 1%;
    height: 1%;
}